body{
    background-image: linear-gradient(to right, #4b6cb7,#182848);
    margin: 0;
}

.calculator{
    width: 380px;
    height: 60vh;

    justify-content: space-evenly;
    align-items: center;
    display: flex;
    position: absolute;
    left: 40%;
    transform: translateY(20%);
    flex-direction: column;
}


.screen{
   
    width: 320px;
    height: 7vh;
    display: flex;
    position: relative;
    margin: 0;
    top: -40px;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 45px;
    border-bottom: 1px solid;
}


.touchpad{
    width: 380px;
    height: 30vh;
    position: relative;
    left: 24px;
    top: -60px;
}

.num, .ops, .clear{
    width: 80px;
    height: 60px;
    border: none;
    justify-content:space-around;
    font-size: 25px;
    background-color: #AB8402;
    color: #FFD036;
    position: abusolute;
    margin-bottom: 4px;
}

.num:hover, .ops:hover{
    color: #fff;
    font-weight:700;
    background: transparent;
}

.clear:hover{
    font-weight:700;
    background: transparent;
    color: #BF0404;
}